{% extends "layout.html" %}{% block container %}{%from "_macros.html" import camposNuevos %}

<a href="index" class="font-medium text-fg-brand hover:underline">Volver</a>

<a href="#" class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-default rounded-base shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl">
    <div class="flex flex-col justify-between md:p-4 leading-normal">
        
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">Nombre: {{nombre}}</h5>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">Apellido: {{apaterno}}</h3>
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-heading">Email: {{email}}</h3>
    </div>
</a>


{% endblock %}
